.first_step > .button_lg {
    width: 262px;
    height: 70px;
    margin-top: 48px;
}

.first_step > .checkbox_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 13px;
    height: 177px;
    margin-top: 40px;
}

.first_step > .small_text {
    width: 376px;
    height: 25px;
    font-family: 'Gotham Pro Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 155%;
    color: #B7BBC0;
    margin-top: 9px;
}

.first_step > .attention_text {
    margin-top: 84px;
    width: 699px;
    height: 116px;
    font-family: 'Gotham Pro Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;
    color: #FFFFFF;
}
