.first_step > .button_block {
    margin-top: 35px;
}

.first_step > .checkbox_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
    height: 217px;
}

.first_step > .small_text {
    width: 376px;
    height: 25px;
    font-family: 'Gotham Pro Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 155%;
    color: #B7BBC0;
    margin-top: 9px;
    padding-bottom: 25px;
}

.first_step > .attention_text {
    margin-top: 84px;
    width: 649px;
    height: 116px;
    font-family: 'Gotham Pro Medium', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;
    color: #FFFFFF;
}
