body {
    cursor: default;
    background: url("../img/quize.jpg");
    background-size: cover;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    height: 100%;
}

* {
    outline-style: none;
}

div {
    display: block;
}

body {
    display: block;
}

button {
    cursor: pointer;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Логотип */

.header_main {
    display: flex;
    width: 100%;
    height: 111px;
    justify-content: space-around;
}

.header_main .header {
    display: flex;
    width: 79.2%;
    height: 111px;
    justify-content: flex-start;
    align-items: flex-end;
}

.header .logo_block {
    width: 177px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .logo_block .house {
    background: url("../img/build.png") no-repeat;
    width: 34px;
    height: 34px;
}

.header .logo_block .logo {
    background: url("../img/logo.png") no-repeat;
    width: 134px;
    height: 38px;
    margin-top: 5px;
}

/*  Контейнер  */

.content_main {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.content_main .content_block {
    display: flex;
    width: 79.2%;
}

.content_block .content {
    width: 100%;
    height: 278px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 140px;
}

.logo_block {
    cursor: pointer;
}

.orange_text {
    font-family: Gotham Pro, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #CDA578;
    text-transform: uppercase;
}

.main_btn {
    width: 280px;
    height: 70px;
    background: #CDA578;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 34px;
    font-family: Gotham Pro, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(205, 165, 120, 0.5);
}

.content .main_btn > button:hover {
    background: #F0CCA3;
}

/* Активная и неактивная кнопка */

.button {
    border: 0px;
    border-radius: 5px;
    font-family: 'Gotham Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 155%;
    text-align: center;
    color: #FFFFFF;
}

.button_standard {
    width: 301px;
    height: 60px;
}

.button_sm {
    width: 185px;
    height: 50px;
}

.button_prev {
    box-sizing: border-box;
    width: 185px;
    height: 50px;
    border: 2px solid #878B90;
}

.button_prev:hover {
    background: #FFFFFF;
}

.success {
    background: #CDA578;
    box-shadow: 0px 15px 30px rgba(205, 165, 120, 0.5);
}

.success:hover {
    background: #F0CCA3;
}

.decline {
    background: #a9a9a9;
}

.accessed {
    background: #CDA578;
    box-shadow: 0px 15px 30px rgba(205, 165, 120, 0.5);
}

.accesses:hover {
    background: #F0CCA3;
}

/* Тексты */

.h1_orange {
    background: #CDA578;
}

/* Инпуты */

.inputs {
    box-sizing: border-box;
    position: absolute;
    width: 301px;
    height: 51.53px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.inputs:hover {
    background: rgba(255, 255, 255, 0.1);
}


