.third_step .checkbox_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 13px;
    height: 139px;
    margin-top: 40px;
}

.third_step .small_text {
    width: 376px;
    height: 25px;
    font-family: 'Gotham Pro Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16.5px;
    line-height: 155%;
    color: #B7BBC0;
    margin-top: 9px;
}

.third_step .attention_text {
    margin-top: 84px;
    width: 499px;
    height: 116px;
    font-family: 'Gotham Pro Medium', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 130%;
    color: #FFFFFF;
}

.third_step .button_block {
    margin-top: 48px;
    font-family: 'Gotham Pro Medium', sans-serif;
}

.third_step .button_block .button_next {
    margin-left: 34px;
}
